body {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 2vw;
}

.heading {
    display: flex;
    justify-content: center;
    width: 80%;
}

.rps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    width: 80%;
}

button img, h1{
   max-width: 100%;
   height: auto;
}