body {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 2vw;
    background-color: #E6E6FA;
    font-family: 'Dancing Script';
}

.heading {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 5vw;
}

.rps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    width: 100%;
}

button img, h1{
   max-width: 100%;
   height: auto;
}

.rps-container button {
    background-color: #F0F0F5;
    border-color: 1px black solid;
}

.round-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.score-container,
.round-result-container {
    font-size: 6vw;
}

.result-info {
    display: flex;
    justify-content: center;
    max-width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 500;
    margin: 3vw;
  }